.signup-form-container {
  scale: 1;
}

@media (max-height: 800px) {
  .signup-form-container {
    scale: 0.8;
  }
}
@media (max-height: 660px) {
  .signup-form-container {
    scale: 0.7;
  }
}

@media (max-height: 580px) {
  .signup-form-container {
    scale: 0.6;
  }
}

@media (max-height: 500px) {
  .signup-form-container {
    scale: 0.5;
  }
}
